html, body {
    height:100%;
    margin:0;
    padding:0;
}
.julie-header{
    width: 100%;
    height: 90px;
    background: var(--white-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 20px #AD58580F;
    opacity: 1;
    margin-bottom: 80px;
}
.julie-header-nav{
    text-align: left;
    font: 400 16px/25px Poppins;
    letter-spacing: 0px;
    color: #2D2777;
    opacity: 1;
}
.julie-logo{
    width: 167px;
    height: 35px;
    background: transparent url('../images/Logo Juliedesk.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.julie-login{
    background: var(--corail-ff6060) 0% 0% no-repeat padding-box;
    background: #FF6060 0% 0% no-repeat padding-box;
    border-radius: 28px;
    opacity: 1;
    color: #FFFFFF;
    text-align: center;
    font: 400 16px/25px Poppins;
}
.julie-banner{
    width: 100%;
    height: 514px;
    opacity: 1;
    margin-bottom: 247px;
}
.julie-banner-left-header h1{
    margin-top: 103px;
    width: 624px;
    height: 143px;
    text-align: left;
    font: 600 50px/54px Poppins;
    letter-spacing: 0px;
    color: #471E60;
    opacity: 1;
}
.julie-banner-left-header p{
    text-align: left;
    font: 300 20px/28px Montserrat;
    letter-spacing: 0px;
    color: #471E60;
    opacity: 1;
    width: 606px;
    height: 142px;
}
.top35{
    margin-top: 35px;
}
.btn-circle{
    width: 192px;
    height: 55px;
    padding: 16px 24px;
    border-radius: 28px;
}
.julie-banner-left-header .btn-freetrial{
    background: transparent radial-gradient(closest-side at -6% 50%, #AC45F8 0%, #FF6060 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 20px #B447E933;
    border-radius: 28px;
    opacity: 1;
    width: 192px;
    height: 55px;
}
.btn-freetrial:hover{
    text-decoration: none;
}
.btn-freetrial-text{
    text-align: center;
    font: 400 16px/25px Poppins;
    letter-spacing: 0px;
    color: #FFFFFF;
}
.btn-vedio{
    background: #F5F5FD 0% 0% no-repeat padding-box;
    width: 213px;
    height: 55px;
}
.btn-vedio:hover{
    text-decoration: none;
}
.btn-vedio-text{
    text-align: center;
    font: 500 16px/25px Poppins;
    letter-spacing: 0px;
    color: #471E60;
    opacity: 1;
}

.trustus h1{
    text-align: center;
    font: 700 40px/40px Poppins;
    letter-spacing: 0px;
    color: #471E60;
    opacity: 1;
}
.trustus img{ width: 90px; height: 90px; margin-top: 30px;}
.trustusbottom156{
    margin-bottom: 156px;
}
.whatWedo{
    text-align: center;
    font: 600 16px/25px Poppins;
    letter-spacing: 0px;
    color: #A6ADBA;
    text-transform: uppercase;
    opacity: 1;
}
.ourServices{
    color: var(--darker-381a4b);
    text-align: center;
    font: 700 40px/40px Poppins;
    letter-spacing: 0px;
    margin-bottom: 129px;
}
.feeback{
    text-align: center;
    font: Bold 40px/60px Poppins;
    letter-spacing: 0px;
    opacity: 1;
    margin-bottom: 50px;
}
.textBrown{color: #471E60;}
.textPurpel{color: #AC45F8;}
.hrtop{
    background: transparent linear-gradient(315deg, #FF6060 0%, #AC45F8 100%) 0% 0% no-repeat padding-box;
    border-radius: 4px 4px 0px 0px;
    opacity: 1;
    height: 6px;
}
.cmpa{
    text-align: left;
    font: 700 24px/40px Montserrat;
    letter-spacing: 0px;
    color: #471E60;
    opacity: 1;
}
.dots{
    background: transparent linear-gradient(326deg, #FF6060 0%, #AC45F8 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
    width: 8px;
    height: 8px;
}
.serviceslistsMain:hover{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 20px 50px #AC45F81A;
    opacity: 1;
}
.serviceslistsMain .button{
    background: #FF6060 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 20px #FF606033;
    border-radius: 28px;
    opacity: 1;
    width: 124px;
    height: 55px;
    margin-top: 30px;
}
.serviceslistsMain .button p{
    text-align: left;
    font: 500 16px/25px Poppins;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    padding: 10px 7px
}
.serviceslists {
    color: #471E60;
    opacity: 1;
    height: 48px;
}
.serviceslists span{
    text-align: left;
    font: 500 16px/20px Montserrat;
    letter-spacing: 0px;
}

.personalAssistantLeft img{
    width: 593px;
    height: 528px;
}
.personalAssistantRight{
    padding-left: 80px;
    padding-top: 104px;
}
.personalAssistant h1{
    text-align: left;
    font: 700 32px/26px Poppins;
    letter-spacing: 0px;
    color: #4C2C64;
    opacity: 1;
}
.personalAssistant h6{
    text-align: left;
    font: 600 14px/21px Poppins;
    letter-spacing: 0px;
    color: #FF6060;
    text-transform: uppercase;
    opacity: 1;
}
.personalAssistant p{
    text-align: left;
    font: 400 16px/27px Poppins;
    letter-spacing: 0px;
    color: #2C3439;
    opacity: 1;
}
.personalAssistant .button{
    background: #FF6060 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 20px #FF606033;
    border-radius: 28px;
    opacity: 1;
    width: 138px;
    height: 55px;
    margin-top: 30px;
}
.personalAssistant .button p{
    text-align: left;
    font: 500 16px/25px Poppins;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    padding: 10px 7px
}


.communityManagerRight img{
    width: 477px;
    height: 352px;
}
.communityManagerLeft{
    /*padding-left: 80px;*/
    /*padding-top: 104px;*/
}
.communityManager h1{
    text-align: left;
    font: 700 32px/26px Poppins;
    letter-spacing: 0px;
    color: #4C2C64;
    opacity: 1;
}
.communityManager h6{
    text-align: left;
    font: 600 14px/21px Poppins;
    letter-spacing: 0px;
    color: #FF6060;
    text-transform: uppercase;
    opacity: 1;
}
.communityManager p{
    text-align: left;
    font: 400 16px/25px Poppins;
    letter-spacing: 0px;
    color: #2C3439;
    opacity: 1;
}
.communityManager .button{
    background: #5045CE 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 20px #FF606033;
    border-radius: 28px;
    opacity: 1;
    width: 138px;
    height: 55px;
    margin-top: 30px;
}
.communityManager .button p{
    text-align: left;
    font: 500 16px/25px Poppins;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    padding: 10px 7px
}


.imgs img{margin-right: 21px;}
.margingTop152{margin-top: 152px;}
.testimonials{
    z-index: -1;
    background-image: url('../images/Testimonial - Background.png');
    height: 724px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.carousel{
    width: 612px;
    height: 262px;
    background: var(--white-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 20px 50px #AC45F81A;
    border-radius: 12px;
    opacity: 1;
}
.hrdown{
    background: transparent linear-gradient(270deg, #FF6060 0%, #7B31B2 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
    height: 4px;
}
/*.julie-footertop{*/
/*    top: 4373px;*/
/*    left: 0px;*/
/*    width: 1440px;*/
/*    height: 4px;*/
/*    background: transparent linear-gradient(270deg, var(--corail-ff6060) 0%, var(--purple-5d67b4) 100%) 0% 0% no-repeat padding-box;*/
/*    background: transparent linear-gradient(270deg, #FF6060 0%, #7B31B2 100%) 0% 0% no-repeat padding-box;*/
/*    opacity: 1;*/
/*}*/
.julie-footertop h5{
    text-align: left;
    font: 500 18px/56px Rubik;
    letter-spacing: 0px;
    color: #471E60;
    text-transform: uppercase;
    opacity: 1;
}
.julie-footertop p{
    text-align: left;
    font: 600 16px/24px Muli;
    letter-spacing: 0px;
    color: #471E60;
    opacity: 1;
}
.julie-footertop ul li{
    margin-bottom: 18px;
}
.julie-footertop ul li a{
    text-align: left;
    font: 600 16px/24px Muli;
    letter-spacing: 0px;
    color: #471E60;
    opacity: 1;}

.julie-footertop-copyright{
    background: #AC45F8 0% 0% no-repeat padding-box;
    opacity: 0.04;
    height: 72px;
    margin-bottom: -40px;
}
.julie-footertop-copyright p{
    text-align: left;
    font: 600 16px/56px Muli;
    letter-spacing: 0px;
    color: #471E60;
    opacity: 1!important;
}


#carouselFeed {
    /*background: linear-gradient(112deg, #ffffff 50%, antiquewhite 50%);*/
    max-width: 900px;
    margin: auto
}

.carousel-caption {
    position: initial;
    z-index: 10;
    padding: 2rem 3rem;
    text-align: left;
    font: Italic 16px/25px Poppins;
    letter-spacing: 0px;
    color: #596372;
    opacity: 1;
}
.carousel-indicators{
    top: 329px;
}
.carousel-indicators li{
    background-color: coral;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
.founderText{
    margin-top: 38px;
    margin-bottom: 3px;
    text-align: left;
    font: 500 20px/24px Poppins;
    letter-spacing: 0px;
    color: #1F1B4E;
    opacity: 1;
}
.foundationText{
    text-align: left;
    font: 500 9px/18px Poppins;
    letter-spacing: 0px;
    color: #A6ADBA;
    text-transform: uppercase;
    opacity: 1;
}


.carousel-caption img {
    width: 4rem;
    border-radius: 5rem;
    margin-top: 2rem
}
.carousel-caption span{
    text-align: left;
    font: 500 12px/24px Poppins;
    letter-spacing: 0px;
    color: #A6ADBA;
    text-transform: uppercase;
    opacity: 1;
}

@media(max-width:768px) {
    .julie-header{
        width: auto;
    }
    .navbar-toggler{
        background-color: #FF6060;
        margin-top: -22px;
    }
    .justify-content-end{
        z-index: 1;
    }
    .navbar-nav{
        background-color: #ffffff;
    }
    .julie-logo{
        width: 177px;
        height: 58px;
    }
    #dropdownMenuLink{
        margin-left: -11px;
    }
    .julie-banner{
        height: auto;
        margin-bottom: 0px;
    }
    .julie-banner-left-header h1{
        width: 100%;
        height: auto;
        margin-top: 0px;
    }
    .julie-banner-left-header p{
        width: 100%;
        height: auto;
    }
    .julie-banner-left-header .btn-freetrial{
        width: 100%;
        height: auto;
        margin-top: 39px;
        margin-left: 39px;
    }
    .personalAssistant .button, .serviceslistsMain .button{
        margin: 30px 64px
    }
    .btn-vedio{
        margin: 35px;
        float: left;
    }
    .trustus h1{
        margin-top: 100px;
    }
    .personalAssistantLeft img, .communityManagerRight img, #carouselFeed{
        width: 100%;
        height: auto;
    }
    .trustusbottom156{
        margin-top: 40px;
    }
    .personalAssistantRight {
        padding-left: 15px;
        padding-top: 0;
    }
    .margingTop152{
        margin-top: 100px;
    }
    .serviceslistsMain{
        margin-bottom: 50px;
    }
    .communityManager .button{
        margin: 64px;
    }
    .carousel-caption img {
        width: 4rem;
        border-radius: 4rem;
        margin-top: 1rem
    }
    .carousel-caption {
        position: initial;
        z-index: 10;
        padding: 3rem 2rem;
        color: rgba(78, 77, 77, 0.856);
        text-align: center;
        font-size: 0.7rem;
        font-style: italic;
        font-weight: bold;
        line-height: 1.5rem
    }
    .carousel-indicators{
        top: 430px;
    }
    .hrdown{margin-top: 100px;}
    .julie-footertop h5 {
        text-align: center;
    }
    .julie-footertop-copyright{
        height: 96px;
        margin-bottom: -72px
    }
    .julie-footertop p, .founderText, .foundationText{
        text-align: center;
    }

}
