html, body {
    height:100%;
    margin:0;
    padding:0;
    font-family: 'Poppins', 'Montserrat','Rubik','Muli';
}
.active{
    color: #FF6060 !important;
}


/*********** change button****************************/

/***************************************/
.c-box {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    font-size: 150%;
    text-align: center;
    color: #fff;
    flex-basis: 30%;
    /*padding: 5vmin;*/
    /*margin: 5vmin;*/
}
.c-box--arrow-top {
    position: relative;
    z-index: 10;
}
.c-box--arrow-top::after {
    content: "";
    width: 0;
    height: 0;
    display: block;
    position: absolute;
    z-index: 10;
    border: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    /*margin-left: -10px;*/
    left: 50%;
    border-bottom: 10px solid #FFFFFF;
    top: -10px;
}
.hoverVoliet:hover{
    background-color: #5045CE;
}


.julie-login{
    background: var(--corail-ff6060) 0% 0% no-repeat padding-box;
    background: #FF6060 0% 0% no-repeat padding-box;
    border-radius: 28px;
    opacity: 1;
    color: #FFFFFF;
    text-align: center;
    font: 400 16px/25px Poppins;
}
.julie-banner{
    width: 100%;
    height: 514px;
    opacity: 1;
    margin-bottom: 247px;
}
.julie-banner-left-header h1{
    margin-top: 103px;
    width: 624px;
    height: 143px;
    text-align: left;
    font: 600 50px/54px Poppins;
    letter-spacing: 0px;
    color: #471E60;
    opacity: 1;
}
.julie-banner-left-header p{
    text-align: left;
    font: 300 20px/28px Montserrat;
    letter-spacing: 0px;
    color: #471E60;
    opacity: 1;
    width: 606px;
    height: 142px;
}
.top35{
    margin-top: 35px;
}
.btn-circle{
    /*width: 192px;*/
    height: 55px;
    padding: 16px 24px;
    border-radius: 28px;
}
.btn-freetrial{
    background-image: linear-gradient(315deg, #FF6060 0%, #AC45F8 100%);
    -webkit-linear-gradient: linear-gradient(315deg, #FF6060 0%, #AC45F8 100%);
    /*background: radial-gradient(closest-side at -6% 50%, #AC45F8 0%, #FF6060 100%);*/
    box-shadow: 0px 3px 20px #B447E933;
    border-radius: 28px;
    opacity: 1;
    /*width: 192px;*/
    height: 55px;
    margin-right: 24px;
}
.btn-freetrial:hover{
    text-decoration: none;
}
.btn-freetrial-text{
    text-align: center;
    font: 400 16px/25px Poppins;
    letter-spacing: 0px;
    color: #FFFFFF;
}
.btn-vedio{
    background: #F5F5FD 0% 0% no-repeat padding-box;
    width: 213px;
    height: 55px;
}
.btn-vedio:hover{
    text-decoration: none;
}
.btn-vedio-text{
    text-align: center;
    font: 500 16px/25px Poppins;
    letter-spacing: 0px;
    color: #471E60;
    opacity: 1;
}

.trustus h1{
    text-align: center;
    font: 700 40px/40px Poppins;
    letter-spacing: 0px;
    color: #471E60;
    opacity: 1;
}
.trustus img{ width: 90px; height: 90px; margin-top: 30px;}
.trustusbottom156{
    margin-bottom: 156px;
}
.whatWedo{
    text-align: center;
    font: 600 16px/25px Poppins;
    letter-spacing: 0px;
    color: #A6ADBA;
    text-transform: uppercase;
    opacity: 1;
}
.ourServices{
    text-align: center;
    font: 700 40px/40px Poppins;
    letter-spacing: 0px;
    margin-bottom: 129px;
}
.feeback{
    text-align: center;
    font: Bold 40px/60px Poppins;
    letter-spacing: 0px;
    opacity: 1;
    margin-bottom: 50px;
}
.textBrown{color: #471E60!important;}
.textPurpel{color: #AC45F8;}
.textOrange{color: #F26261;}
.textGray{color: #596372;}

.cmpa{
    text-align: left;
    font: 700 24px/40px Montserrat;
    letter-spacing: 0px;
    color: #471E60;
    opacity: 1;
    width: 332px;
}
.dots{
    padding-top: 74%;
}
.serviceslistsMain{
    box-shadow: 0px 20px 50px #AC45F81A;
}
.serviceslistsMain .button{
    background: #FF6060 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 20px #FF606033;
    border-radius: 28px;
    opacity: 1;
    width: 124px;
    height: 55px;
    margin-top: 30px;
}
.serviceslistsMain .button p{
    text-align: left;
    font: 500 16px/25px Poppins;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    padding: 10px 7px
}
.serviceslists {
    color: #471E60;
    opacity: 1;
    height: 48px;
}
.serviceslists p{
    text-align: left;
    font: 500 16px/20px Montserrat;
    letter-spacing: 0px;
    width: 271px;
    padding-top: 3px;
}

.personalAssistantLeft img{
    width: 593px;
    height: 528px;
}
.personalAssistantRight{
    padding-left: 80px;
    padding-top: 104px;
}
.personalAssistant h1{
    text-align: left;
    font: 700 32px/26px Poppins;
    letter-spacing: 0px;
    color: #4C2C64;
    opacity: 1;
}
.personalAssistant h6{
    text-align: left;
    font: 600 14px/21px Poppins;
    letter-spacing: 0px;
    color: #FF6060;
    text-transform: uppercase;
    opacity: 1;
}
.personalAssistant p{
    text-align: left;
    font: 400 16px/27px Poppins;
    letter-spacing: 0px;
    color: #2C3439;
    opacity: 1;
}
.personalAssistant .button{
    background: #FF6060 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 20px #FF606033;
    border-radius: 28px;
    opacity: 1;
    width: 138px;
    height: 55px;
    margin-top: 30px;
}
.personalAssistant .button p{
    text-align: left;
    font: 500 16px/25px Poppins;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    padding: 10px 7px
}


.communityManagerRight img{
    width: 477px;
    height: 352px;
}
.communityManagerLeft{
    /*padding-left: 80px;*/
    /*padding-top: 104px;*/
}
.communityManager h1{
    text-align: left;
    font: 700 32px/26px Poppins;
    letter-spacing: 0px;
    color: #4C2C64;
    opacity: 1;
}
.communityManager h6{
    text-align: left;
    font: 600 14px/21px Poppins;
    letter-spacing: 0px;
    color: #FF6060;
    text-transform: uppercase;
    opacity: 1;
}
.communityManager p{
    text-align: left;
    font: 400 16px/25px Poppins;
    letter-spacing: 0px;
    color: #2C3439;
    opacity: 1;
}
/*.communityManager .button{*/
/*    background: #5045CE 0% 0% no-repeat padding-box;*/
/*    box-shadow: 0px 3px 20px #FF606033;*/
/*    border-radius: 28px;*/
/*    opacity: 1;*/
/*    width: 138px;*/
/*    height: 55px;*/
/*    margin-top: 30px;*/
/*}*/
/*.communityManager .button p{*/
/*    text-align: left;*/
/*    font: 500 16px/25px Poppins;*/
/*    letter-spacing: 0px;*/
/*    color: #FFFFFF;*/
/*    opacity: 1;*/
/*    padding: 10px 7px*/
/*}*/


.imgs img{margin-right: 21px;}
.margingTop152{margin-top: 152px;}
.testimonials{
    z-index: -1;
    background-image: url('../images/Testimonial - Background.png');
    height: 724px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.carousel{
    width: 612px;
    height: 262px;
    background: var(--white-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 20px 50px #AC45F81A;
    border-radius: 12px;
    opacity: 1;
}
.hrdown{
    background: transparent linear-gradient(270deg, #FF6060 0%, #7B31B2 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
    height: 4px;
}
/*.julie-footertop{*/
/*    top: 4373px;*/
/*    left: 0px;*/
/*    width: 1440px;*/
/*    height: 4px;*/
/*    background: transparent linear-gradient(270deg, var(--corail-ff6060) 0%, var(--purple-5d67b4) 100%) 0% 0% no-repeat padding-box;*/
/*    background: transparent linear-gradient(270deg, #FF6060 0%, #7B31B2 100%) 0% 0% no-repeat padding-box;*/
/*    opacity: 1;*/
/*}*/
.julie-footertop h5{
    text-align: left;
    font: 500 18px/56px Rubik;
    letter-spacing: 0px;
    color: #471E60;
    text-transform: uppercase;
    opacity: 1;
}
.julie-footertop p{
    text-align: left;
    font: 600 16px/24px Muli;
    letter-spacing: 0px;
    color: #471E60;
    opacity: 1;
}
.julie-footertop ul li{
    margin-bottom: 18px;
}
.julie-footertop ul li a{
    text-align: left;
    font: 600 16px/24px Muli;
    letter-spacing: 0px;
    color: #471E60;
    opacity: 1;}

.julie-footertop-copyright{
    background: #AC45F8 0% 0% no-repeat padding-box;
    opacity: 0.04;
    height: 72px;
    margin-bottom: -40px;
}
.julie-footertop-copyright p{
    text-align: left;
    font: 600 16px/56px Muli;
    letter-spacing: 0px;
    color: #471E60;
    opacity: 1!important;
}


#carouselFeed {
    /*background: linear-gradient(112deg, #ffffff 50%, antiquewhite 50%);*/
    max-width: 900px;
    margin: auto
}

.carousel-caption {
    position: initial;
    z-index: 10;
    padding: 2rem 3rem;
    text-align: left;
    font: Italic 16px/25px Poppins;
    letter-spacing: 0px;
    color: #596372;
    opacity: 1;
}
.carousel-indicators{
    top: 329px;
}
.carousel-indicators li{
    background-color: coral;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
.founderText{
    margin-top: 38px;
    margin-bottom: 3px;
    text-align: left;
    font: 500 20px/24px Poppins;
    letter-spacing: 0px;
    color: #1F1B4E;
    opacity: 1;
}
.foundationText{
    text-align: left;
    font: 500 9px/18px Poppins;
    letter-spacing: 0px;
    color: #A6ADBA;
    text-transform: uppercase;
    opacity: 1;
}


.carousel-caption img {
    width: 4rem;
    border-radius: 5rem;
    margin-top: 2rem
}
.carousel-caption span{
    text-align: left;
    font: 500 12px/24px Poppins;
    letter-spacing: 0px;
    color: #A6ADBA;
    text-transform: uppercase;
    opacity: 1;
}
/**************************************** packages *************************************************************************/

.margingTopBottom114{
    margin-top: 114px!important;
    margin-bottom: 114px!important;
}
.home-container {
    margin: 0 auto;
    height: 694px;
    background: radial-gradient(116% 24% at top,transparent 47%,#FAF0FF 0);
}
.home-cards{
    background-color: transparent;
}
.package-main-container{
    padding-top: 20px;
    width: 1067px;
    height: 588px;
}
.packagesHead{
    text-align: center;
    font: 600 50px/58px Poppins;
    letter-spacing: 0px;
    color: #471E60;
    width: 988px;
    height: 140px;
}
.packagesHead-p{
    text-align: center;
    font: 300 20px/24px Montserrat;
    letter-spacing: 0px;
    color: #471E60;
    opacity: 1;
    width: 988px;
    height: 49px;
}
.card-img-top{
    border: none;
    width: 210px;
    height: 210px;
}
.packages-card-title{
    text-align: center;
    font: 600 28px/34px Poppins;
    letter-spacing: 0px;
    color: #2D2777;
    opacity: 1;
}
.packages-card-text{
    text-align: center;
    font: 300 16px/24px Montserrat;
    letter-spacing: 0px;
    color: #2D2777;
    opacity: 1;
}
.package-card-footer{
    background-color: transparent;
    border: none;
    text-align: center;
}
.packages-cards-footer{
    background-color: transparent;
    border: none;
    text-align: left;
}
.card-pack-block{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 20px 50px #AC45F81A;
    border-radius: 4px;
    opacity: 1;
}
.card-teddy{
    background: #2BD0C7 0% 0% no-repeat padding-box;
    border-radius: 4px 4px 0px 0px;
    height: 6px;
    transform: matrix(-1, 0, 0, -1, 0, 0);
}
.card-violetta{
    background: #AC45F8 0% 0% no-repeat padding-box;
    /*border-image-source: linear-gradient(315deg, #FF6060 0%, #AC45F8 100%);*/
    border-radius: 4px 4px 0px 0px;
    height: 6px;
    transform: matrix(-1, 0, 0, -1, 0, 0);
}
.card-julie{
    background: linear-gradient(313deg, #FF6060 0%, #AC45F8 100%) 0% 0% no-repeat padding-box;
    border-radius: 4px 4px 0px 0px;
    height: 6px;
    transform: matrix(-1, 0, 0, -1, 0, 0);
}
.card-service{
    background: linear-gradient(313deg, #FF6060 0%, #AC45F8 100%) 0% 0% no-repeat padding-box;
    border-radius: 4px 4px 0px 0px;
    height: 6px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    width: initial;
}
.card-head-name{
    text-align: left;
    font: 500 38px/20px Poppins;
    letter-spacing: 0px;
    color: #471E60;
    opacity: 1;
    height: 50px;
    margin-bottom: 7px;
}
.pound{
    width: 14px;
    display: inline-flex;
}
.card-head-price{
    text-align: left;
    font: 700 48px/28px Montserrat;
    letter-spacing: 0px;
    color: #471E60;
    display: inline-flex;
    width: 122px;
}
.card-head-des{
    text-align: left;
    font: 400 18px/28px Montserrat;
    letter-spacing: 0px;
    color: #471E60;
    margin-top: -49px;
    margin-bottom: 49px;
}
.package-button {
    background: #FF6060 0% 0% no-repeat padding-box;
    border-radius: 28px;
    /*width: 148px;*/
    height: 55px;
    padding: 16px 24px;
}
.package-button span{
    text-align: center;
    font: 500 16px/25px Poppins;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
.package-button:hover {text-decoration: none;}
/*****************************************************/
.cm-button {
    background: #5045CE 0% 0% no-repeat padding-box;
    border-radius: 28px;
    height: 55px;
    padding: 16px 24px;
}
.cm-button span{
    text-align: center;
    font: 500 16px/25px Poppins;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
.cm-button:hover {text-decoration: none;}
/***********************************************/
.mostpopular{
    margin-top: 30px;
    margin-bottom: 1px;
}
.mostpopular-button{
    background: #F5F0F9 0% 0% no-repeat padding-box;
    border-radius: 22px;
    padding: 12px 22px;
}
.mostpopular-button span{
    text-align: center;
    font: 500 16px/20px Montserrat;
    letter-spacing: 0px;
    color: #471E60;
    opacity: 1;
}
.mostpopular-button:hover {text-decoration: none;}
.listshead{
    text-align: left;
    font: 600 16px/25px Poppins;
    letter-spacing: 0px;
    color: #B082CC;
    text-transform: uppercase;
    opacity: 1;
    margin-bottom: 18px;
}
.listsbody{
    margin-bottom: 20px;
}
.listsbody p{
    text-align: left;
    font: 500 16px/20px Poppins;
    letter-spacing: 0px;
    color: #471E60;
    opacity: 1;
    padding-top: 3px;
}
.creditdetails-head{
    text-align: left;
    font: 600 16px/24px Poppins;
    letter-spacing: 0px;
    color: #471E60;
    text-transform: uppercase;
    opacity: 1;
}
.creditdetails-desc{
    text-align: left;
    font: 400 16px/24px Poppins;
    letter-spacing: 0px;
    color: #471E60;
    opacity: 1;
}
.enterprise{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    border-radius: 6px;
    border-image-source: linear-gradient(313deg, #FF6060 0%, #AC45F8 100%);
    -webkit-linear-gradient: linear-gradient(313deg, #FF6060 0%, #AC45F8 100%);
    height: 296px;
    background-clip: padding-box;
    position: relative;
    margin-bottom: 202px;
    width: 1440px;
}
.enterprise::after {
    position: absolute;
    top: -6px; bottom: -6px;
    left: -6px; right: -6px;
    background: linear-gradient(313deg, #FF6060 0%, #AC45F8 100%);
    content: '';
    z-index: -1;
    border-radius: 6px;
}
.enterprise-h5{
    text-align: left;
    font: 600 16px/25px Poppins;
    letter-spacing: 0px;
    color: #FF6060;
    text-transform: uppercase;
    opacity: 1;
    padding-top: 28px;
    padding-left: 75px;
    padding-bottom: 4px;
}
.enterprise-head{
    text-align: left;
    font: 400 24px/21px Poppins;
    letter-spacing: 0px;
    color: #1F1B4E;
    opacity: 1;
    height: 33px;
    padding-left: 75px;
}
.enterprise-body{
    text-align: left;
    font: 300 16px/24px Poppins;
    letter-spacing: 0px;
    color: #1F1B4E;
    opacity: 1;
    width: 671px;
    padding-left: 75px;
    margin-bottom: 27px;
}
.enterprise-img{
    position: absolute;
    left: -103px;
    top: -30px;
}
.enterprise-btn{
    margin-left: 67px;
}
.comparsion-topBottom-margin{
    margin-top: 121px !important;
    margin-bottom: 262px !important;
}
.comparsion-table{
    text-align: center;
}
.comparsion-table tr td{
    width: 312px;
    height: 67px;
    border: 1px solid rgba(205, 210, 219, 0.61);
}
.option{
    text-align: left;
    font: 500 16px/28px Poppins;
    letter-spacing: 0px;
    color: #471E60;
    opacity: 1;
    padding: 23px 0px 21px 26px;
}
.comparsion-table-packname{
    font: 500 28px/20px Poppins;
    letter-spacing: 0px;
    color: #471E60;
    opacity: 1;
    margin-top: 13px;
    margin-bottom: 13px;
}
.comparsion-table-price-symbol {
    font: 700 18px/28px Montserrat;
    letter-spacing: 0px;
    color: #7B31B2;
}
.comparsion-table-price{
    font: 700 32px/28px Montserrat;
    letter-spacing: 0px;
    color: #7B31B2;
}
.comparsion-table-desc{
    font: 400 18px/28px Montserrat;
    letter-spacing: 0px;
    color: #596372;
    opacity: 1;
}
.crossCol{
    color: #FF6060;
    font-size: 21px;
}
.checkCol{
    color: #78E295;
    font-size: 21px;
}
.tblSmall{
    text-align: left;
    font: 500 12px/18px Poppins;
    letter-spacing: 0px;
    color: #596372;
    opacity: 1;
}
/************************************************ CM *****************************************************************/
.cmMenuTop8{
    padding-top: 8px!important;
}
.cmHead{
    text-align: center;
    font: 600 50px/58px Poppins;
    letter-spacing: 0px;
    opacity: 1;
    width: 768px;
    height: 140px;
}
.cmHead-p{
    text-align: center;
    font: 300 20px/24px Montserrat;
    letter-spacing: 0px;
    color: #471E60;
    opacity: 1;
    width: 988px;
    height: 49px;
}
.dotFront{
    font-size: 10px;
}

.cm-container {
    margin: 0 auto;
    height: 382px;
    background: radial-gradient(110% 38% at top,transparent 48%,#FAF0FF 0);
}
.cm-container-img{
    width: 575px;
    height: 424px;
    margin-top: -41px;
}

.imgTrasparent{
    background-color: transparent;
}
.cmPaulDo{
    text-align: center;
    font: Bold 40px/40px Poppins;
    letter-spacing: 0px;
    margin-top: 128px;
    margin-bottom: 23px;
}
.cmPaulDo-desc{
    text-align: center;
    font: 300 20px/28px Montserrat;
    letter-spacing: 0px;
    color: #4A4B4D;
    opacity: 1;
    width: 906px;
    margin-bottom: 68px;
}
.cm-cards-img{
    width: 137px;
    height: 131px;
}
.cm-cards-title{
    text-align: center;
    font: 500 24px/29px Montserrat;
    letter-spacing: 0px;
    color: #471E60;
    opacity: 1;
    width: 334px;
}
.cm-cards-text{
    text-align: center;
    font: 300 16px/24px Montserrat;
    letter-spacing: 0px;
    color: #4A4B4D;
    opacity: 1;
    width: 350px;
}
.cm-cards-footer{
    height: 133px!important;
}
.card-paul{
    background: #FF6060 0% 0% no-repeat padding-box;
    border-radius: 4px 4px 0px 0px;
    height: 6px;
    transform: matrix(-1, 0, 0, -1, 0, 0);
}
.marginTopBottom200{
    margin-top: 200px;
    margin-bottom: 152px;
}
.paul-img{
    position: absolute;
    right: -30px;
    top: -64px;
}
.paul-skills-title{
    text-align: left;
    font: 700 32px/38px Poppins;
    letter-spacing: 0px;
    color: #4C2C64;
    opacity: 1;
    margin-top: 150px;
}
.paul-skills-desc{
    text-align: left;
    font: 400 16px/25px Poppins;
    letter-spacing: 0px;
    color: #2C3439;
    opacity: 1;
    width: 474px;
    margin-bottom: 15px;
}
.online-visibility{
    margin: 0 auto;
    height: 721px;
    background: radial-gradient(116% 24% at top,transparent 47%,#F6FAFE 0);
}
.online-visibility-title{
    text-align: center;
    font: 700 40px/60px Poppins;
    letter-spacing: 0px;
    margin-top: 121px;
}
.online-visibility-desc{
    text-align: center;
    font: 400 16px/24px Montserrat;
    letter-spacing: 0px;
    color: #471E60;
    opacity: 0.75;
    width: 720px;
    height: 64px;
    margin-top: 21px;
}
.online-visibility-card-body{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 4px 16px #455B6314;
    border-radius: 12px;
    opacity: 1;
}
.online-visibility-img{
    width: 56px;
    height: 56px;
    margin-top: 32px;
    margin-bottom: 5px;
}
.online-visibility-card-title{
    text-align: center;
    font: 500 20px/30px Poppins;
    letter-spacing: 0px;
    color: #471E60;
    opacity: 1;
}
.online-visibility-card-text{
    text-align: center;
    font: 300 14px/20px Montserrat;
    letter-spacing: 0px;
    color: #471E60;
    opacity: 0.7;
    width: 300px;
    height: 98px;
}
.marginTop54{
    margin-top: 54px;
}
.joinCm{
    margin-top: 132px!important;
}
.joinCm h1{
    text-align: left;
    font: 600 24px/35px Poppins;
    letter-spacing: 0px;
    color: #471E60;
    opacity: 1;
}
.joinCm img {
    width: 90px;
    height: 90px;
    margin-top: 30px;
}
/**************************************** Packs Universal *************************************************************************/
.packs-header-h1{
    text-align: left;
    font: 600 50px/60px Poppins;
    letter-spacing: 0px;
    opacity: 1;
}
.packs-header-assist-h1{
    text-align: center;
    font: 700 40px/40px Poppins;
    letter-spacing: 0px;
}
.packs-assist-h1-top-bottom{
    font: 500 28px/26px Poppins;
    letter-spacing: 0px;
    color: #4C2C64;
    opacity: 1;
}
.margintop118{
    margin-top: 118px;
}
/**************************************** Julie *************************************************************************/
/*.julie-discover-h1{*/
/*    text-align: center;*/
/*    font: Bold 40px/40px Poppins;*/
/*    letter-spacing: 0px;*/
/*}*/
/*.julie-head-h1{*/
/*    text-align: left;*/
/*    font: 600 50px/60px Poppins;*/
/*    letter-spacing: 0px;*/
/*    color: #FF6060;*/
/*    opacity: 1;*/
/*    width: 403px;*/
/*    height: 71px;*/
/*    margin-top: 118px;*/
/*}*/
.julie-head-desc{
    text-align: left;
    font: 300 20px/28px Montserrat;
    letter-spacing: 0px;
    color: #2D2777;
    opacity: 1;
    width: 516px;
    height: 108px;
}
.julie-head-imgs{
    width: 580px;
    height: 540px;
}
/*.juile-assist-h1-top-bottom{*/
/*    font: 500 28px/26px Poppins;*/
/*    letter-spacing: 0px;*/
/*    color: #4C2C64;*/
/*    opacity: 1;*/
/*}*/
.margintop178{
    margin-top: 178px;
}
.margintop86{
    margin-top: 86px;
}
.margintop124{
    margin-top: 124px;
}
.margintop109{
    margin-top: 109px;
}
.margintop123{
    margin-top: 123px;
}
.margintop140{
    margin-top: 123px;
}
.julie-assist-para{
    font: 400 16px/24px Poppins;
    letter-spacing: 0px;
    color: #2C3439;
    opacity: 1;
}
.julie-assist-circle-trust{
    width: 466px;
}
.julie-assist-all-p{
    width: 474px;
}
.margingTop113Bottom113{
    margin-top: 49px;
    margin-bottom: 113px;
}
.margingTop89Bottom203{
    margin-bottom: 203px;
    margin-top: 89px;
}
.marginBotton275{
    margin-bottom: 275px;
}
.marginBottom116{
    margin-bottom: 116px;
}
/********************************************* Violetta ********************************************************************/
/*.violetta-head-h1{*/
/*    text-align: left;*/
/*    font: 600 50px/60px Poppins;*/
/*    letter-spacing: 0px;*/
/*    color: #7B31B2;*/
/*    opacity: 1;*/
/*    width: 485px;*/
/*    height: 71px;*/
/*}*/
.violetta-head-desc{
    text-align: left;
    font: 300 20px/28px Montserrat;
    letter-spacing: 0px;
    color: #2D2777;
    opacity: 1;
}
/************************************************ Buttons *****************************************************************/
.textGreen{
    color: #19C3B9;
}
.greenBackground{
    background-color: #19C3B9;
}
.deepGreenBackground{
    background-color: #219D96;
}
.purpelBackground{
    background-color: #AC45F8;
}
.orangeBackground{
    background-color: #FF6060;
}
.grayBackground{
    background-color: #F5F5FD;
}
.mixBackground{
    background-image: linear-gradient(315deg, #FF6060 0%, #AC45F8 100%);
    box-shadow: 0px 3px 20px #B447E933;
}
.mainBtn{
    border-radius: 28px;
    height: 55px;
    padding: 16px 24px;
}
.mainBtn span {
    text-align: center;
    font: 500 16px/25px Poppins;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
.mainBtn:hover {text-decoration: none;}
/*********************************************** Teddy ******************************************************************/
.secondImg{
    position: absolute;
    left: 19px;
    top: 121px;
}
.teddy-top-heading-h1{
    font: 500 28px/38px Poppins;
    letter-spacing: 0px;
    color: #4C2C64;
    opacity: 1;
}
.teddy-top-heading-desc{
    font: 400 18px/27px Poppins;
    letter-spacing: 0px;
    color: #471E60;
}
.teddy-top-heading-desc-green{
    font: 500 Italic 18px/27px Poppins;
    letter-spacing: 0px;
    color: #19C3B9;
}
.width476{
    width: 476px;
}
.marginTopBottom120{
    margin-top: 120px;
    margin-bottom: 120px;
}
.autofollow-desc{
    text-align: left;
    font: 400 18px/24px Poppins;
    letter-spacing: 0px;
    color: #2C3439;
    opacity: 1;
}
.marginTop66{
    margin-top: 66px;
}
.teddy-matrix-desc{
    font: 400 16px/24px Poppins;
    letter-spacing: 0px;
    color: #2C3439;
    opacity: 1;
}
.matrix-img1{
    width: 374px;
    height: 326px;
    float: right;
    margin-right: 10px;
}
.matrix-img2{
    top: 4px;
    width: 432px;
    height: 333px;
    position: absolute;
    left: 106px;

}
/*********************************************** JOBS ******************************************************************/
.margintop80{
    margin-top: 80px;
}
.borderGrey{
    border: 1px solid #A6ADBA;
    border-radius: 4px;
    opacity: 1;
    height: 55px;
}
.jobsAvail{
    font: 500 18px/27px Poppins;
    letter-spacing: 0px;
}
.formLabels{
    font: 500 16px/25px Poppins;
    letter-spacing: 0px;
    color: #471E60;
    opacity: 1;
}
.jobforms-h1{
    text-align: left;
    font: 600 32px/48px Poppins;
    letter-spacing: 0px;
    color: #471E60;
    opacity: 1;
}
.jobforms-h2{
    text-align: left;
    font: 500 28px/38px Poppins;
    letter-spacing: 0px;
    color: #4C2C64;
    opacity: 1;
}
.jobforms-p{
    text-align: left;
    font: 400 18px/24px Poppins;
    letter-spacing: 0px;
    color: #2C3439;
    opacity: 1;
    width: 474px;
}
.width377{
    width: 377px;
}
/*********************************************** login-temp ******************************************************************/
.login-temp-img-back{
    background: linear-gradient(359deg, #EEE6FF 0%, #B2ACBF1A 51%, #77738000 100%);
    height: 100%;
    width: 50%;
    position: absolute;
    top: 0px;
    z-index: -1;
}
.login-temp-btn-width{
    width: 100%;
}
.login-temp-signup{
    font: 600 16px/25px Poppins;
    letter-spacing: 0px;
    color: #A6ADBA;
}
.orSeparator{
    font: 600 16px/40px Poppins;
    letter-spacing: 0px;
    color: #471E60;
    opacity: 1;
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
}
.separator::before, .separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #000;
}
.separator::before {
    margin-right: .25em;
}
.separator::after {
    margin-left: .25em;
}
.login-width{
    width: 377px;
}
.login-pass{
    background: #E8FBEE 0% 0% no-repeat padding-box;
    border-radius: 4px;
    height: 94px;
}
.login-pass-check{
    width: 32px;
    height: 32px;
    margin: 31px 15px 31px 20px;
}
.login-pass-p{
    font: 500 14px/21px Poppins;
    letter-spacing: 0px;
    color: #471E60;
    opacity: 1;
    width: 285px;
    margin-top: 15px;
}
.freetrial-chk{
    background: #EEE6FF 0% 0% no-repeat padding-box;
    border-radius: 4px;
    opacity: 1;
    width: 376px;
    height: 85px;
}
.form-check-1{
    padding-top: 26px;
    padding-left: 25px;
}
.form-credit{
    font: 600 16px/25px Poppins;
    letter-spacing: 0px;
    color: #A6ADBA;
    opacity: 1;
}
.freetrial-img{
    position: absolute;
    left: -91px;
    width: 57%;
}
.width376{
    width: 376px;
}
/* Remove default checkbox */
.form-check-1 [type="checkbox"]:not(:checked),
.form-check-1 [type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
}
.form-check-1 [type="checkbox"]:not(:checked) + label,
.form-check-1 [type="checkbox"]:checked + label {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    display: inline-block;
    height: 34px;
    line-height: 25px;
    padding-top: 5px;
    padding-left: 51px;

    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

/* checkbox aspect */
.form-check-1 [type="checkbox"] + label:before,
.form-check-1 [type="checkbox"] + label:after {
    content: '';
    position: absolute;
    left: 0;
    z-index: 1;

    -webkit-transition: .2s;
    transition: .2s;
}
/* Unchecked styles */
.form-check-1 [type="checkbox"]:not(:checked) + label:before {
    top: 0px;
    width: 19px; height: 19px;
    border: 1px solid #ffffff;
    border-radius: 4px;
}
.form-check-1 [type="checkbox"]:not(:checked) + label:after {
    top: 0px;
    border: 1px solid #ffffff;
    z-index: 0;
    background-color: #fff;
    border-radius: 4px;
    width: 34px;
    height: 34px;
}
/* Checked styles */
.form-check-1 [type="checkbox"]:checked + label:before {
    top: 2px;
    width: 15px; height: 27px;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid red;
    border-bottom: 1px solid red;
    -webkit-transform: rotateZ(37deg);
    transform: rotateZ(37deg);

    -webkit-transform-origin: 20% 40%;
    transform-origin: 100% 100%;
    border-radius: 4px;
}
.form-check-1 [type="checkbox"]:checked + label:after {
    top: 0px;
    width: 34px; height: 34px;
    border: 1px solid #ffffff;
    z-index: 0;
    background-color: #fff;
    border-radius: 4px;
}
/* disabled checkbox */
.form-check-1 [type="checkbox"]:disabled:not(:checked) + label:before,
.form-check-1 [type="checkbox"]:disabled:checked + label:before {
    top: 0;
    box-shadow: none;
    background-color: #444;
    width: 19px; height: 19px;
    border: 3px solid #444;
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
}
.form-check-1 [type="checkbox"]:disabled + label {
    color: #555;
}
.form-check-1 [type="checkbox"]:disabled:not(:checked) + label:hover:before {
    border-color: red;
}
/*********************************************** ******************************************************************/
.mobCmHide{
    display: block;
}
.mobCmShow{
    display: none;
}
.julie-banner-right-content img{
    height: 514px;
    width: 708px;
    margin-top: -15px;
}

@media(max-width:768px) {
    .scrollHide,.scrollShow,.mobFrLang{
        display: none!important;
    }

    .justify-content-end{
        z-index: 1;
    }


    .julie-banner{
        height: auto;
        margin-bottom: 0px;
        width: auto;
    }
    .julie-banner-left-header h1{
        width: 100%;
        height: auto;
        margin-top: 0px;
        text-align: center;
        font: 600 32px/38px Poppins;
        letter-spacing: 0px;
        color: #471E60;
    }
    .julie-banner-left-header p{
        width: 100%;
        height: auto;
        text-align: center;
        font: 300 14px/24px Montserrat;
        letter-spacing: 0px;
        color: #471E60;
        opacity: 1;
    }
    .julie-banner-left-header .btn-freetrial{
        width: 100%;
        height: auto;
        margin-top: 39px;
        margin-left: 39px;
    }
    .julie-banner-right-content img{
        height: auto;
        width: auto;
        margin-top: 50px;
    }
    .personalAssistant .button, .serviceslistsMain .button{
        margin: 30px 64px
    }
    .personalAssistant h1{
        text-align: center;
        font: 700 24px/26px Poppins;
        letter-spacing: 0px;
        color: #4C2C64;
        opacity: 1;
        margin-top: 23px;
    }
    .personalAssistant h6{
        text-align: center;
        font: 600 14px/21px Poppins;
        letter-spacing: 0px;
        color: #FF6060;
        text-transform: uppercase;
        opacity: 1;
    }
    .personalAssistant p{
        text-align: center;
        font: 300 14px/24px Poppins;
        letter-spacing: 0px;
        color: #2C3439;
        opacity: 1;
    }
    .imgs img {
        margin-right: 12px;
        width: 27px;
        height: 26px;
    }
    .btn-vedio{
        margin: 35px;
        float: left;
    }
    .trustus h1{
        margin-top: 100px;
        text-align: center;
        font: 600 22px/38px Poppins;
    }
    .whatWedo{
        text-align: center;
        font: 600 14px/21px Poppins;
        letter-spacing: 0px;
        color: #A6ADBA;
        text-transform: uppercase;
        opacity: 1;
    }
    .personalAssistantLeft img, .communityManagerRight img, #carouselFeed{
        width: 100%;
        height: auto;
    }
    .trustusbottom156{
        margin-top: 40px;
    }
    .personalAssistantRight {
        padding-left: 15px;
        padding-top: 0;
    }
    .margingTop152{
        margin-top: 100px;
    }
    .serviceslistsMain{
        margin-bottom: 50px;
    }
    .communityManager .button{
        margin: 64px;
    }
    .carousel-caption img {
        width: 4rem;
        border-radius: 4rem;
        margin-top: 1rem;
        float:left;
    }

    .founderText{
        font: 500 13px/9px Poppins;
        text-align: left;
        margin-left: 72px;
        margin-top: -49px;
    }
    .foundationText{
        font: 500 12px/16px Poppins;
        letter-spacing: 0px;
        text-align: left;
        margin-left: 72px;
    }
    .carousel-caption {
        position: initial;
        z-index: 10;
        padding: 3rem 2rem;
        color: rgba(78, 77, 77, 0.856);
        text-align: center;
        font-size: 0.7rem;
        font-style: italic;
        font-weight: bold;
        line-height: 1.5rem
    }

    .carousel-indicators{
        top: 329px;
    }
    .carousel-indicators li{
        width: 6px;
        height: 6px;
    }
    .hrdown{margin-top: 100px;}
    .julie-footertop img{
        float: left!important;
    }
    /*.julie-footertop h5 {*/
    /*    text-align: center;*/
    /*}*/
    .julie-footertop-copyright{
        height: 96px;
        margin-bottom: -72px
    }
    .julie-footertop p{
        text-align: left;
        clear: both;
        padding-top: 16px;
        font: 600 14px/24px Muli;
    }
.mobFoot{
    width: 46%;
    text-align: left;
}
.socialBack{
    background: #EEE6FF 0% 0% no-repeat padding-box;
    opacity: 1;
    width: 38px;
    height: 38px;
    text-align: center;
    padding: 12px;
    float: left;
    font-size: 12px;
    margin-right: 3px;
}

/******************************************************************************/
    .packs-header-h1,.packagesHead, .packagesHead-p, .package-main-container, .home-container, .enterprise, .enterprise-h5, .enterprise-head, .enterprise-body,.card-head-name,.listshead{
        text-align: center;
        width: 100%;
        height: auto;
    }
    .enterprise-img {
        position: relative;
        left: 0;
        top: 0px;
        width: 94%;
        margin-top: 50px;
    }
    .mobSet{
        text-align: center;
        margin-top: 30px;
    }
    .card-head-des,.packages-cards-footer,.creditdetails-desc,.trustus{
        text-align: center;
    }
    .listsbody p{
        text-align: center;
        margin-top: -22px;
    }
    .btn-freetrial{
        margin: auto;
    }
    .creditdetails-head{
        margin-top: -32px;
        text-align: center;
    }
    .enterprise{
        margin-left: 7px;
    }
    .enterprise-h5, .enterprise-head, .enterprise-body{
        padding-left: 0px;
    }
    /*********************************************************************************/
    .cmHead, .cmHead-p, .cm-container, .cm-container-img,.cmPaulDo-desc, .cm-cards-text,.cm-cards-title, .paul-skills-title, .paul-skills-desc, .online-visibility-desc, .online-visibility, .joinCm{
        text-align: center;
        width: 100%;
        height: auto;
    }
    .btnCenter{
        justify-content: center;
    }
    .paul-img {
        position: absolute;
        right: -11px;
        top: -64px;
        width: 48%;
    }
    /*********************************************************************************/
    .packs-head-h1, .packs-assist-h1-top-bottom, .julie-head-desc,.top35,.julie-head-imgs,
    .julie-assist-para,.violetta-head-desc,.width476,.teddy-top-heading-h1,.autofollow-desc,
    .matrix-img1,.matrix-img2,.teddy-matrix-desc,.jobforms-h1,.jobsAvail,.jobforms-h2,.jobforms-p,.width377,.login-temp-img-back{
        text-align: center!important;
        width: 100%;
        height: auto;
    }
    .btn-vedio {
        margin: 5px;
        float: inherit;
    }
    .ourServices{
        margin-bottom: 0px;
        text-align: center;
        font: 700 24px/40px Poppins;
    }
    .cmpa{
        text-align: left;
        font: 700 18px/40px Montserrat;
        letter-spacing: 0px;
    }
    img{
        width: inherit;
    }
    .listsbody img, .serviceslists img{
        width: 18px!important;
        height: 18px!important;
    }
    .serviceslists p{
        font: 500 12px/20px Montserrat;
        letter-spacing: 0px;
        color: #471E60;
        opacity: 1;
        margin-top: -36px;
        margin-left: 22px;
    }
     .package-button{
        height: 42px;
        padding: 11px 24px;
    }
      .package-button span{
        font: 500 14px/21px Poppins;
        letter-spacing: 0px;
    }

    .mobCmHide{
        display: none;
    }
    .mobCmShow{
        display: block;
    }
    .communityManager h1{
        text-align: center;
        font: 700 24px/28px Poppins;
        letter-spacing: 0px;
        opacity: 1;
    }
    .communityManager h6{
        text-align: center;
        font: 600 14px/21px Poppins;
        letter-spacing: 0px;
        color: #FF6060;
        text-transform: uppercase;
        opacity: 1;
    }
    .communityManager p{
        text-align: center;
        font: 300 14px/24px Poppins;
        letter-spacing: 0px;
        color: #2C3439;
        opacity: 1;
    }
    .imgs{
        text-align: center;
    }
    .cm-button{
        height: 42px;
        padding: 11px 24px;
    }
    .cm-button span{
        font: 500 14px/21px Poppins;
        letter-spacing: 0px;
    }
    .feeback{
        text-align: center;
        font: 700 24px/35px Poppins;
        letter-spacing: 0px;
        opacity: 1;
    }

    .mobMargin50, .img-fluid{
        margin-top: 50px;
    }
    .mobSize30{
        width: 34px!important;
        height: 34px!important;
    }
    .matrix-img2{
        left: inherit;
    }
    .login-width{
        width: max-content;
    }
    .freetrial-img {
        position: unset;
        left: 0;
        width: inherit;
    }

    .btn-freetrial-text{
        font: 500 14px/21px Poppins;
    }

}
/**********************************************************************************************************************************************************************************************/
/*********************************************************************************************************************************************************************************************************/
/*****************************************************************************************************************************************************************************************************/
/****************************************************** Navigaion menu **************************************************************************************/
html, body {
    height:100%;
    margin:0;
    padding:0;
    font-family: 'Poppins', 'Montserrat','Rubik','Muli';
}
.julie-logo{
    width: 167px;
    height: 35px;
    background: transparent url('../images/Logo Juliedesk.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    margin-top: 27px;
    margin-bottom: 27px;
    margin-left: -15px;
}
.julie-header{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 20px #AD58580F;
    opacity: 1;
    height: 90px;
}
.connect{
    border: 1px solid #FF6060;
    border-radius: 28px;
    opacity: 0.3;
    text-align: center;
    float: left;
    margin-left: 84px;
    margin-top: 21px;
    padding: 5px 28px 9px 28px;
}
.connect-span{
    text-align: center;
    font: 600 16px/25px Poppins;
    letter-spacing: 0px;
    color: #FF6060;
    opacity: 1;
}
.connect:hover{
    text-decoration:none;
}
.navbar-light .navbar-nav .nav-link{
    font: 400 16px/25px Poppins;
    letter-spacing: 0px;
    color: #2D2777;
    opacity: 1;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link{
    font: 400 16px/25px Poppins;
    letter-spacing: 0px;
    color: #FF6060;
    opacity: 1;
}
.navbar-light .navbar-nav .nav-link:hover{
    color: #FF6060;
}
.nav-item{
    margin-right: 31px;
}
.dp-inner-pad{
    width: 0px;
    padding-left: unset;
    padding-right: unset;
}
.menuHead{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 30px #2D277729;
    border-radius: 6px;
    opacity: 1;
    border: 0;
}
.menuHead p{
    white-space: inherit;
    text-align: left;
    font: 300 12px/16px Poppins;
    letter-spacing: 0px;
    color: #471E60;
    opacity: 1;
    width: 268px;
}
#servicesId .dropdown-menu{
    width: 426px;
    height: 503px;
    left: -136%
}
#servicesId .dropdown-item:focus, #servicesId .dropdown-item{
    width: 395px;
    height: 98px;
    white-space: inherit;
}
#servicesId .dropdown-item:focus, #servicesId .dropdown-item:hover{
    background-color: #ffe6ea;
    border-radius: 10px;
    width: 395px;
    margin-left: 14px;
}
#servicesId .dropdown-item img{
    padding-top: 21px;
    margin-right: 24px;
}
#servicesId .dropdown-item h5 {
    text-align: left;
    font: 600 16px/16px Poppins;
    letter-spacing: 0px;
    color: #471E60;
    padding-top: 11px;
}
#servicesId .dropdown-item h6 {
    text-align: left;
    font: 500 12px/16px Montserrat;
    letter-spacing: 0px;
    color: #FF6060;
}
/********************************** Buttons *********************************************/
.textGreen{
    color: #19C3B9;
}
.greenBackground{
    background-color: #19C3B9;
}
.deepGreenBackground{
    background-color: #219D96;
}
.purpelBackground{
    background-color: #AC45F8;
}
.orangeBackground{
    background-color: #FF6060;
}
.grayBackground{
    background-color: #F5F5FD;
}
.mixBackground{
    background-image: linear-gradient(315deg, #FF6060 0%, #AC45F8 100%);
    box-shadow: 0px 3px 20px #B447E933;
}
.mainBtn{
    border-radius: 28px;
    height: 55px;
    padding: 16px 24px;
}
.mainBtn span {
    text-align: center;
    font: 500 16px/25px Poppins;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
.mainBtn:hover {text-decoration: none;}
/*******************************************************************************/
.menuBack{
    background: radial-gradient(174% 55% at top,transparent 43%,#FAF0FF 0);
    /*width: 381px;*/
    height: 218px;
    padding-top: 94px;
    position: relative;
    bottom: -41%;
    margin-left: -31px;
    margin-right: -31px;
}
.cmMenuTop7{
    padding-top: 7px;
}
/****************************************************/
.scrollShow {
    display:none;
}
.fixed-top.scrolled .scrollShow {
    display: block;
}

.fixed-top.scrolled .scrollHide {
    display:none !important;
}


/*********************************** Mobile ********************************************/
@media(max-width:768px) {
    .scrollHide,.scrollShow,.mobFrLang{
        display: none!important;
    }
    .popLogo{
        margin-top:unset;
    }
    .julie-logo{
        margin-left: unset;
    }
    /*.navbar-collapse {*/
    /*    height: 90vh; !* Set to lower value, because*/
    /*                 height = <total height> - <.navbar-header height>*/
    /*                 so you will not lose the last menu *!*/
    /*    max-height: 100vh!important; !* Or max-height: none!important;  *!*/
    /*}*/
    #servicesId .dropdown-menu, #servicesId .dropdown-item:hover, .menuHead p{
        width: auto;
        height: auto;
    }
    .navbar-toggler.collapsed .close-icon {
        display: none;
    }
    /*.navbar-toggler:not(.collapsed) .navbar-toggler-icon {*/
    /*    display: inline;*/
    /*}*/

    /*.navbar-toggler-icon {*/
    /*    background-image: url(*/
    /*    "data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(54, 57, 75, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");*/
    /*}*/
    .navbar-light .navbar-nav .nav-link{
        text-align: left;
        font: 500 16px/20px Montserrat;
        letter-spacing: 0px;
        color: #471E60;
        opacity: 1;
    }
    .alreadyAccountText {
        text-align: center;
        font: 400 16px/24px Poppins;
        letter-spacing: 0px;
        color: #471E60;
        margin-top: 25px;
        margin-bottom: 5px;
    }
    .alreadyAccountTextA {
        text-align: center;
        text-decoration: underline;
        font: 700 16px/24px Poppins;
        letter-spacing: 0px;
        color: #FF6060;
    }
    .menuHead {
        background: unset;
        box-shadow: unset;
        border-radius: unset;
        opacity: unset;
        border: unset;
    }
    #servicesId .dropdown-item img{
        width: 42px;
        height: 42px;
        padding-top: unset;
        margin-right: unset;
    }
    #servicesId .dropdown-item{
        width: auto;
        height: auto;
        white-space: inherit;
        margin-left: -20px;
    }
    .dp-inner-pad{
        padding-top: 44px;
    }
    .mainBtn{
        padding: 13px 33px;
    }
    .mainBtn span{
        text-align: center;
        font: 500 14px/21px Poppins;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
    }
    .btn-close{
        margin-right: 13px;
        font-size: 22px;
    }

}


body.offcanvas-active{
    overflow:hidden;
}
.offcanvas-header{ display:none; }
.underline{
    text-decoration: underline;
}
@media (max-width: 992px) {
    .offcanvas-header{ display:block; }
    .navbar-collapse {
        position: fixed;
        top:0;
        bottom: 0;
        left: 100%;
        width: 100%;
        padding-right: 1rem;
        padding-left: 1rem;
        overflow-y: auto;
        visibility: hidden;
        background-color: #FFFFFF;
        transition: visibility .2s ease-in-out, transform .2s ease-in-out;
    }
    .navbar-collapse.show {
        visibility: visible;
        transform: translateX(-100%);
    }
}
